body {
    padding: 0px;
    margin: 0px;
}

 .atas { background-color: rgb(189, 18, 18);
padding-top: 0px;
height: 130px;
justify-content: center;
flex-direction: column;
color: white;

}

.beranda {
    color: white;
    
}


header {
    display: flex;
flex-direction:row;
justify-content: center;
background-color: rgb(189, 18, 18);

width: 100%;
}

.potolegion img{
    width: 200px;
    height: 200px;
}

.potolegion {
display: flex;
flex-direction: row;
justify-content: center;
}

.btndesc {
    background-color: rgb(58, 204, 223);
    border-radius: 30%;
    height: 40px;
    width: 75px;
}

footer h3 {
    color: white;
    background-color: rgb(189, 18, 18);
    width: 100%;
    height: 250px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    
    
}

#yaa { 
    background-color: whitesmoke;
    height:fit-content;
    width: fit-content;
    border-radius: 16px;

}

#bibi {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.hapus {
    background-color: red;
    border: none;
    border-radius: 16px;
    margin: 10px;
    
}

.formatPengisian {
    display: flex;
    flex-direction: column;
    gap: 15px;
}